@import "tailwindcss";

:root {
  --background: #2c3539;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Map next/font variables to Tailwind font utilities */
  --font-sans: system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-display: var(--font-orbitron), system-ui, sans-serif; /* => class: font-display */
  --font-logo: var(--font-gugi), cursive; /* => class: font-logo */
  --font-mono: var(--font-roboto-mono), ui-monospace, SFMono-Regular, Menlo,
    monospace; /* => class: font-mono */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c3539;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--foreground);
}

.btn {
  /* position: relative; */
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-right: 3px;
  margin-left: 0px;
  color: #00bfff;
  border: 1px solid #00bfff;
  text-transform: uppercase;
  transition: 0.3s ease;
  font-weight: 400;
  letter-spacing: 2px;
  overflow: hidden;
}
.btn:hover {
  color: #000000;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #00bfff, 0 0 25px #00bfff, 0 0 50px #00bfff,
    0 0 200px #00bfff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
